/* Typography extends */
body, header p {
  font-family: 'Gentium Book Basic', serif; }

h1, h3 {
  font-family: 'Open Sans', sans-serif; }

header p a, section p a {
  color: #203945; }
  header p a:visited, section p a:visited {
    color: #203945; }
  header p a:hover, section p a:hover {
    color: #c0392b; }

/* Typography settings */
body {
  color: #222222; }

h1 {
  font-size: 3em;
  font-weight: 800;
  text-transform: uppercase; }

h3 {
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase; }

header p {
  font-size: 1.4em;
  font-style: italic;
  font-weight: 200;
  color: #203945; }

section p, section a {
  font-size: 1.3em;
  color: #203945;
  line-height: 1.3em; }

.new {
  color: #e67e22; }

/* Layout extends */
header a:hover, section p a:hover, section a a:hover, a {
  -webkit-transition: border-bottom 0.4s ease-out, color 0.4s ease-out;
  -moz-transition: border-bottom 0.4s ease-out, color 0.4s ease-out;
  transition: border-bottom 0.4s ease-out, color 0.4s ease-out;
  border-bottom: 2px solid #c0392b; }

/* Layout settings */
html, body {
  background-color: white; }

h1 {
  margin-bottom: 0.1em; }

h3 {
  margin-top: 1.5em;
  margin-bottom: 0.5em; }

header, section {
  width: 80%;
  margin-left: 10%;
  margin-top: 2em; }

header p {
  margin: 0;
  margin-bottom: 0.2em; }

section p, section a {
  margin: 0em 0 1em 0;
  line-height: 1.3em; }

a {
  text-decoration: none;
  border-bottom: 2px solid transparent; }
